body {
    background-image: url(../images/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}

.navbar {
  width: 150%;
  height: 55px;
  background: linear-gradient(to right, #0490E7, transparent);
  margin-top: 20px;
  padding-left: 250px;
}

.nav-button {
  width:175px;
  height: 55px;
  margin-right: -5px;
  border-top: none;
  border-bottom:none;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background: transparent;
  color: white;
  transform: skew(-20deg);
  transition: color 500ms, background-color 500ms;
}

#aboutme {
  background-color: white;
  color: #0490E7;
}

.btntxt {
  display: inline-block;
  transform: skew(20deg);
  font-family: 'Genos', sans-serif;
  font-size: 2.75vh;
  font-weight: 900;
}

.nav-button:hover {
  background-color: white;
  color: #0490E7;
}

.about-body {
  display: flex;
  margin-top: 2%;
}

.about-img {
  margin: auto;
  overflow: hidden;
  height: fit-content;
  border:5px #ffffff;
  border-style: groove;
  margin-top: 30px;
}

.about-img > img {
  width: 500px;
  height: 290px;
}

.intro-box {
  background: repeating-linear-gradient(to bottom right, #0490E7, #00b3ff, #04c5e7, #afafaf);
  width: 60%;
  font-size: 3vh;
  padding: 20px;
  font-family: 'Genos', sans-serif;
  font-weight: 700;
  color: #001F3F;
  margin-top: 5%;
  margin: auto;
  
}

.mobile-nav {
  display: none;
}


@media (max-width: 450px) {

  body {
    background-image: url(../images/mobile-bg.jpg);
  }

  .navbar {
    display: none;
  }

  .mobile-headline {
    background: linear-gradient(to right, #0490E7, transparent);
    color: aliceblue;
    font-family: 'Handjet', sans-serif;
    font-size: 2rem;
    text-align: left;
    padding: 12px 16px;
  }

  .about-body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-img > img {
    width: 300px;
    height: 174px;
  }

  .about-img{
    margin: 32px auto 120px;
  }

  .intro-box {
    width: 92vw;
    margin: auto;
    box-sizing: border-box;
    background: repeating-linear-gradient(to bottom right, #0490e7d0, #00b3ffd0,#04c5e7d0, #afafafd0);
  }
  
  #intro-para {
    font-size: 1.25rem;
  }

  .mobile-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background: repeating-linear-gradient(to bottom right, #0490E7, #00b3ff,#04c5e7); */
    background: linear-gradient(to top, #fff 10%, #00b3ff, #0490E7);
    padding-top: 8px;
  }

  .mobile-nav-container {
    display: flex;
  }

  .mobile-nav-container > a {
    width: 20%;
    text-decoration: none;
  }

  .mobile-nav-button {
    background: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
  }

  .empty-mob-nav {
    width: 4%;
    border-radius: 20px;
  }

  .mobile-nav-button img {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 8px;
  }

  .selected-button {
    background: linear-gradient(to top, #fff 80%, #cef0ff);
    border-radius: 20px 20px 0px 0px;

  }

  .selected-nav-page {
    font-size: 0.6rem;
    margin: 2px 0px;
    
  }

  .nav-page {
    display: none;
  }

  .mobile-nav-bottom {
    /* background: repeating-linear-gradient(to bottom right, #0490E7, #00b3ff,#04c5e7); */
    background-color: white;
    height: 4px;
  }

  .not-selected-button {
    opacity: 0.6;
  }
}
